
#content {

    max-width: 1600px;
    margin: 0 auto;
   
}

body{

    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{

    background-color:rgba(95, 106, 106);
}

.logo{

    width: 80px;
}

#logo_link  {
    padding-top: 5px;
}  

nav a {

    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 35px;
    
}
nav a:hover{

    background-color: rgb(46, 134, 193);
    color: #ffff; 
}
#hero{

    border: 3px solid #d9c2a3;
}
#hero-img{

    width: 100%;
   

}

#hero-msg{

    text-align: center;
    padding: 30px;
}

.home-title{
    font-family:Copperplate,Copperplate Gothic Light,fantasy; 
    color: #F1C40F;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #F1C40F;
}

.button-box{

    text-align: center;
}

.book, .join {

    background-color:rgba(95, 106, 106);
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{

    background-color: rgb(46, 134, 193);
    color: #ffff; 

}


main section{

    text-align: center;

}

main section img {

    box-sizing: border-box;
    
}

.card-img {
    
    border: 10px solid #d9c2a3;

}

.rivers-card, .camping-card, .rapids-card  {

    margin: 200px 0;
}

h2{

    margin: 0;

}

.icon {

    width: 80px;
    padding-top: 10px;
}
#background{

    height: 725px;
    background-color:rgb(46, 134, 193);
    margin-top: 200px;

}
.mountains{

    margin-top: 100px;
}

.msg{

    background-color: #F1C40F;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}

.msg h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffff;
}
.msg p{

    color: #fff;
    padding-bottom: 15px;
}

footer{

    background-color:rgba(95, 106, 106);
    color: #fff;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    
    color: #fff;
    text-decoration: none;
    
}
 
footer a:hover{

    background-color: #F1C40F;
    color: black;
    text-decoration: underline;
}


footer p{

    font-size: 1.2em;
}

footer .social img  {

    padding-top: 15px;
}  